certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
cx_Freeze==7.2.3
cx_Logging==3.2.1; sys_platform == 'win32'
idna==3.10
lief==0.15.1
loguru==0.6.0
notify_py==0.3.43
packaging==24.1
psutil==6.1.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
requests==2.32.3
setuptools==75.2.0
urllib3==2.2.3
win32-setctime==1.1.0; sys_platform == 'win32'
